input{height:1.5rem;font-size:1.1rem;width:4rem;}

#face{
	border:2px solid #808080;
	border-left-color: #fff;
	border-top-color: #fff;
	width:21px;
	height:21px;
}
#face:active{
	border:2px solid #808080;
	border-bottom:1px solid #808080; 
	border-right:1px solid #808080; 
}

#table{
border-collapse:collapse;
}

.pad{
border:2px solid #808080;
border-right-color: #fff;
border-bottom-color: #fff;
}


.adright{
        width:300px;
        height:600px;
        right: 0px;
        top: 0px;
        position: fixed;
        }
        
.adleft{
        width:300px;
        height:600px;
        left: 0px;
        top: 0px;
        position: fixed;
        }
button{margin-right: 5px;float: right;margin-top:5px;}